  GNU nano 7.2                          .env                                    
 VITE_WEBSITE_NAME=Khudroshop
 VITE_API_DOMAIN=https://khudroshop.com
 VITE_API_BASE_URL=https://khudroshop.com/api
 VITE_FILE_BASE_URL=https://khudroshop.com

 VITE_DBHOST=127.0.0.1
 VITE_DBPORT=5432
 VITE_DBNAME=nnn
 VITE_DBUSERNAME=uuu
 VITE_DBPASSWORD=ppp
 VITE_HASHINGKEY=kkk
 VITE_JWTSECRET=jjj
 VITE_JWTSECRET_CUSTOMER=kkk

 DBUSERNAME=nnn
 DBPASSWORD=ppp